* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f9f9f9;
	overflow-y: scroll;
	padding-bottom: 40px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	display: grid;
	grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
	grid-template-rows: 1fr 1fr ;
	grid-template-areas: 
	"title title"
	"add select";
	text-align: center;
	background-color: #fff;
}

.title {
	grid-area: title;
	background-color: #d94e44;
	color: white;
	font-size: 1em;
}

.add {
	grid-area: add;
	color: #db4d3f;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-family: Cantarell, sans-serif;
	font-size: 0.8em;
	padding-top: 10px;

}

.select {
	grid-area: select;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#recipe {
	margin: 10px auto;
	border-color: rgba(169, 169, 169, 0.2);
	font-size: 1em;
	font-family: Cantarell, sans-serif;
	font-weight: 600;
}

main {
	display: grid;
	grid-template-columns: 1fr minmax(160px, 500px) minmax(160px, 500px) 1fr;
	grid-template-rows:  auto;
	grid-row-gap: 20px;
	grid-template-areas: 
	". about about ."
	". ingredients ingredients ."
	". steps steps ."
	". cancel save .";
	margin-top: 10px;
}

.about {
	grid-area: about;
}
.about-main {
	background-color: #f6f4f4;
	padding: 5%;
}
.about-selection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#diffic {
	text-align: right;
}
#tme {
	text-align: center;
}
label {
	padding: 5px;
	font-family: Cantarell, sans-serif;
	font-weight: 500;
	
}
.ingredients {
	grid-area: ingredients;
}
.ingredients-main {
	background-color: #f6f4f4;
	padding: 5%;
}
.ingredients-selection{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"sqty sunit of singre singre singre singre sicon";
	margin-top: 20px;
}
.sqty {
	grid-area: sqty;
}
.sunit{
	grid-area: sunit;
}
.of {
	grid-area: of;
	text-align: center;
}
.singredients {
	grid-area: singre;
}
.sicon{
	grid-area: sicon;
	text-align: right;

}
input[name="quantity"] {
	width: 50px;
	height: 30px;
	text-align: center;
}

select[id="unit"] {
	height: 30px;
	width: 100px;
	padding-left: 10px;
}

input[name="ingredient"] {
	height: 30px;
	width: 100%;
	padding-left: 10px;
}
.fa-plus-square {
 	font-size: 2em;
 	color: #d94e44;
 	background-color: white;
}
ul li {
	list-style: none;
	list-style-position: inside;
	margin-left: 5%;
	margin-top: 10px;
	font-family:'Roboto', sans-serif;
	letter-spacing: 1px;
}
.fa-angle-double-right {
	color: #db4d3f;
}


.steps {
	grid-area: steps;	
}
.steps-main {
	background-color: #f6f4f4;
	padding: 5%;
}
ol li {
	margin-top: 15px;
	font-family:'Helvetica Neue', sans-serif;
	list-style-position: inside;
	margin-left: 3%;
	text-align: justify;
	line-height: 20px;
}
ol~form {
	margin-top: 30px;
}

label[for="step"] {
	font-weight: 600;
}

button[type="submit"] {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #db4d3f;
	background-color: #fff;
	color: #db4d3f;
	font-family: "Cantarell";
	font-size: 1em;
	font-weight: 600;
}
#add-step{
	font-size: 15px;
}


.save {
	grid-area: save;
	background-color: #f6f4f4;
	padding: 5%;
	height: 50px;
	padding: 0;
}
.cancel {
	grid-area: cancel;
	background-color: #f6f4f4;
	padding: 5%;
	height: 50px;
	padding: 0;
}

.btn-end {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #db4d3f;
	background-color: #fff;
	color: #db4d3f;
	font-family: "Cantarell";
	font-size: 1em;
	font-weight: 600;
}


h3 {
	background-color: #db4d3f;
	color: #fff;
	padding: 10px 20px;
	letter-spacing: 1px;
}

input[id="rtitle"], textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input, textarea, select{
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight:hover {
	background-color: #db4d3f;
	color: #fff;
	cursor: pointer;
}

.action:hover {
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	header {
	display: grid;
	grid-template-columns: 160px 160px;
	grid-template-rows: 1fr 1fr ;
	grid-template-areas: 
	"title title"
	"add select";
	text-align: center;
	background-color: #fff;
	}
	
	main {
	display: grid;
	grid-template-columns:  160px 160px;
	grid-template-rows:  auto;
	grid-row-gap: 20px;
	grid-template-areas: 
	"about about"
	"ingredients ingredients"
	"steps steps"
	"cancel save";
	}

 	.steps-main {
	padding: 0;
	}
	.about-main {
	padding: 0;
}

	.ingredients-selection{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"sqty sunit singre singre singre singre sicon";
	margin-top: 20px;
	}
	.of {
	display: none;	
	}
	#recipe {
	width: 100%;
	}
}